In [1]:
import pandas as pd

## Join

In [2]:
df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
df

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5

In [3]:
other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})
other

  key   B
0  K0  B0
1  K1  B1
2  K2  B2

Here we have to specify suffixes as the column names are same

In [6]:
df.join(other,how="left",lsuffix='A',rsuffix='B')

  keyA   A keyB    B
0   K0  A0   K0   B0
1   K1  A1   K1   B1
2   K2  A2   K2   B2
3   K3  A3  NaN  NaN
4   K4  A4  NaN  NaN
5   K5  A5  NaN  NaN

In [8]:
df.join(other,how="right",lsuffix='A',rsuffix='B')

  keyA   A keyB   B
0   K0  A0   K0  B0
1   K1  A1   K1  B1
2   K2  A2   K2  B2

In [9]:
df.join(other,how="cross",lsuffix='A',rsuffix='B')

   keyA   A keyB   B
0    K0  A0   K0  B0
1    K0  A0   K1  B1
2    K0  A0   K2  B2
3    K1  A1   K0  B0
4    K1  A1   K1  B1
5    K1  A1   K2  B2
6    K2  A2   K0  B0
7    K2  A2   K1  B1
8    K2  A2   K2  B2
9    K3  A3   K0  B0
10   K3  A3   K1  B1
11   K3  A3   K2  B2
12   K4  A4   K0  B0
13   K4  A4   K1  B1
14   K4  A4   K2  B2
15   K5  A5   K0  B0
16   K5  A5   K1  B1
17   K5  A5   K2  B2

In [13]:
df.join(other.set_index('key'), on='key')

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

## Merge

In [18]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar'],
                    'value': [1, 2]})
df1

  lkey  value
0  foo      1
1  bar      2

In [19]:
df2 = pd.DataFrame({'rkey': ['foo', 'baz'],
                    'value': [3, 4]})
df2

  rkey  value
0  foo      3
1  baz      4

In [20]:
df1.merge(df2,left_on="lkey",right_on="rkey")

  lkey  value_x rkey  value_y
0  foo        1  foo        3

In [21]:
df1.merge(df2,left_on="lkey",right_on="rkey",how="left")

  lkey  value_x rkey  value_y
0  foo        1  foo      3.0
1  bar        2  NaN      NaN

In [22]:
df1.merge(df2,left_on="lkey",right_on="rkey",how="right")

  lkey  value_x rkey  value_y
0  foo      1.0  foo        3
1  NaN      NaN  baz        4

In [25]:
df1.merge(df2,how="cross")

  lkey  value_x rkey  value_y
0  foo        1  foo        3
1  foo        1  baz        4
2  bar        2  foo        3
3  bar        2  baz        4