## List, tuples, sets

In [2]:
a = []

In [3]:
print(type(a))

<class 'list'>

In [4]:
x = ["Apples", "Oranges", "Bananas"]

In [5]:
print(x)

['Apples', 'Oranges', 'Bananas']

## Indexing

In [6]:
print(x[0])

Apples

In [7]:
print(x[-1])

Bananas

In [8]:
print(x[-2])

Oranges

In [9]:
y = ["Carrots", "Potatos"]

In [10]:
z = [x,y]

In [11]:
print(z)

[['Apples', 'Oranges', 'Bananas'], ['Carrots', 'Potatos']]

In [12]:
z[0]

['Apples', 'Oranges', 'Bananas']

In [13]:
z[0][2]

'Bananas'

## Slicing

In [16]:
num = [1,2,3,4,5,6,7,8,9]

In [19]:
print(num[0:4])

[1, 2, 3, 4]

In [20]:
print(num[4:])

[5, 6, 7, 8, 9]

In [21]:
num[:9:3]

[1, 4, 7]

## Built in List Functions

In [23]:
len(num)

9

In [24]:
min(num)

1

In [25]:
max(num)

9

In [26]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [27]:
names = ["Earth", "Air", "Water", "Fire"]

In [28]:
"Fire" in names

True

In [29]:
"Planet" in names

False

In [30]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [31]:
lst = [1,1,2,6,4,8]

In [32]:
lst.append(9)

In [34]:
print(lst)

[1, 1, 2, 6, 4, 8, 9]

In [35]:
lst2 = [5,6,7,8]

In [36]:
lst.append(lst2)

In [38]:
print(lst)

[1, 1, 2, 6, 4, 8, 9, [5, 6, 7, 8]]

In [39]:
lst.extend(lst2)

In [40]:
print(lst)

[1, 1, 2, 6, 4, 8, 9, [5, 6, 7, 8], 5, 6, 7, 8]

In [41]:
lst.insert(3,"Python")

In [42]:
print(lst)

[1, 1, 2, 'Python', 6, 4, 8, 9, [5, 6, 7, 8], 5, 6, 7, 8]

In [43]:
lst[3] = 'Python Programming'

In [44]:
print(lst)

[1, 1, 2, 'Python Programming', 6, 4, 8, 9, [5, 6, 7, 8], 5, 6, 7, 8]

In [45]:
lst.pop()

8

In [46]:
lst.pop(0)

1

In [47]:
lst.remove("Python Programming")

In [48]:
print(lst)

[1, 2, 6, 4, 8, 9, [5, 6, 7, 8], 5, 6, 7]

In [49]:
del lst[2]

In [50]:
print(lst)

[1, 2, 4, 8, 9, [5, 6, 7, 8], 5, 6, 7]

In [51]:
lst.reverse()
print(lst)

[7, 6, 5, [5, 6, 7, 8], 9, 8, 4, 2, 1]

In [53]:
lst=[5,3,2,0,0.1,-1,6,90,24,45,221]

lst.sort()
print (lst)

[-1, 0, 0.1, 2, 3, 5, 6, 24, 45, 90, 221]

In [54]:
lst.sort(reverse=True)
print(lst)

[221, 90, 45, 24, 6, 5, 3, 2, 0.1, 0, -1]

## Copy a list

In [55]:
a = [2,1,4,5]

In [56]:
b = a
print(b)

[2, 1, 4, 5]

In [57]:
a.pop()

5

In [58]:
print(b)

[2, 1, 4]

In [62]:
a = [1,2,3,4,5]

In [63]:
b = a[:]
print(b)

[1, 2, 3, 4, 5]

In [64]:
a.pop()
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

## Tuples (Immutable)

In [65]:
tup = ()
tup2 = tuple()

In [66]:
(1,2,3)

(1, 2, 3)

In [67]:
2*(27,)

(27, 27)

In [68]:
tup = (1,2,3,4,5)

In [69]:
tup[0]

1

In [70]:
tup[:2]

(1, 2)

In [71]:
tup[2] = 5

TypeError: 'tuple' object does not support item assignment

## Built in Tuple Functions

In [74]:
tup = ('a','b','t','a')
tup.count('a')

2

In [75]:
tup.index('a')

0

## Sets ( Only Unique Values )

In [76]:
set1 = set([1,1,1,2,3,4,5,3,2,4,5])
print(set1)

{1, 2, 3, 4, 5}

## Built-in Functions

In [82]:
set1 = set([1,2,3])
set2 = set([2,3,4,5,6])

In [83]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [84]:
set1.add(0)

In [85]:
print(set1)

{0, 1, 2, 3}

In [86]:
set1.intersection(set2)

{2, 3}

In [87]:
set1.difference(set2)

{0, 1}

In [89]:
set2.symmetric_difference(set1)

{0, 1, 4, 5, 6}

In [90]:
set1.pop()
print(set1)

{1, 2, 3}

In [91]:
set1.clear()
print(set1)

set()