In [13]:
import pandas as pd
import numpy as np

## Join

In [2]:
df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
df

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5

In [3]:
other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})
other

  key   B
0  K0  B0
1  K1  B1
2  K2  B2

Here we have to specify suffixes as the column names are same

In [5]:
df.join(other,how="left",lsuffix='A',rsuffix='B')

  keyA   A keyB    B
0   K0  A0   K0   B0
1   K1  A1   K1   B1
2   K2  A2   K2   B2
3   K3  A3  NaN  NaN
4   K4  A4  NaN  NaN
5   K5  A5  NaN  NaN

In [8]:
df.join(other,how="right",lsuffix='A',rsuffix='B')

  keyA   A keyB   B
0   K0  A0   K0  B0
1   K1  A1   K1  B1
2   K2  A2   K2  B2

In [9]:
df.join(other,how="cross",lsuffix='A',rsuffix='B')

   keyA   A keyB   B
0    K0  A0   K0  B0
1    K0  A0   K1  B1
2    K0  A0   K2  B2
3    K1  A1   K0  B0
4    K1  A1   K1  B1
5    K1  A1   K2  B2
6    K2  A2   K0  B0
7    K2  A2   K1  B1
8    K2  A2   K2  B2
9    K3  A3   K0  B0
10   K3  A3   K1  B1
11   K3  A3   K2  B2
12   K4  A4   K0  B0
13   K4  A4   K1  B1
14   K4  A4   K2  B2
15   K5  A5   K0  B0
16   K5  A5   K1  B1
17   K5  A5   K2  B2

In [13]:
df.join(other.set_index('key'), on='key')

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

## Merge

In [18]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar'],
                    'value': [1, 2]})
df1

  lkey  value
0  foo      1
1  bar      2

In [19]:
df2 = pd.DataFrame({'rkey': ['foo', 'baz'],
                    'value': [3, 4]})
df2

  rkey  value
0  foo      3
1  baz      4

In [20]:
df1.merge(df2,left_on="lkey",right_on="rkey")

  lkey  value_x rkey  value_y
0  foo        1  foo        3

In [21]:
df1.merge(df2,left_on="lkey",right_on="rkey",how="left")

  lkey  value_x rkey  value_y
0  foo        1  foo      3.0
1  bar        2  NaN      NaN

In [22]:
df1.merge(df2,left_on="lkey",right_on="rkey",how="right")

  lkey  value_x rkey  value_y
0  foo      1.0  foo        3
1  NaN      NaN  baz        4

In [25]:
df1.merge(df2,how="cross")

  lkey  value_x rkey  value_y
0  foo        1  foo        3
1  foo        1  baz        4
2  bar        2  foo        3
3  bar        2  baz        4

## Pivot table

In [7]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [8]:
df.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [9]:
df = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
                   "bar": ['A', 'A', 'B', 'C'],
                   "baz": [1, 2, 3, 4]})
df

   foo bar  baz
0  one   A    1
1  one   A    2
2  two   B    3
3  two   C    4

value error is thrown because pivot() cannot handle duplicate values for index and columns

In [10]:
df.pivot(index='foo', columns='bar', values='baz')

ValueError: Index contains duplicate entries, cannot reshape

Pivot_table()

In [11]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [14]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],
                    columns=['C'], aggfunc=np.sum)
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

We can also fill missing values using the fill_value parameter.

In [16]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],
                    columns=['C'], aggfunc=np.mean, fill_value=0)
table

C        large  small
A   B
bar one      4      5
    two      7      6
foo one      2      1
    two      0      3

In [19]:
table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
                    aggfunc={'D': np.mean,
                             'E': [np.mean,np.sum,min,max]})
table

                  D    E
               mean  max      mean  min   sum
A   C
bar large  5.500000  9.0  7.500000  6.0  15.0
    small  5.500000  9.0  8.500000  8.0  17.0
foo large  2.000000  5.0  4.500000  4.0   9.0
    small  2.333333  6.0  4.333333  2.0  13.0