## Strings

In [2]:
string1 = "My Name is Michael Scott"
string2 = 'My Name is Michael Scott'

In [3]:
string1[0:4]

'My N'

In [7]:
string2[11:]

'Michael Scott'

## Built in String Functions

In [11]:
print(string1.find('Scott'))
print(string1.find('Holly'))

19
-1

In [12]:
print(string1.capitalize())

My name is michael scott

In [14]:
print(string1.center(40))

        My Name is Michael Scott

In [17]:
print(string1.index('Michael'))

11

In [18]:
print(string1.endswith('t'))

True

In [19]:
print(string1.count('a'))

2

In [23]:
'Keyur'.join('*_')

'*Keyur_'

In [24]:
a = list(string1)
print(a)

['M', 'y', ' ', 'N', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'M', 'i', 'c', 'h', 'a', 'e', 'l', ' ', 'S', 'c', 'o', 't', 't']

In [25]:
b = ''.join(a)

In [26]:
print(b)

My Name is Michael Scott

In [27]:
print(b.split())

['My', 'Name', 'is', 'Michael', 'Scott']

In [28]:
print(string1.lower())

my name is michael scott

In [29]:
print(string1.upper())

MY NAME IS MICHAEL SCOTT

In [30]:
str = '   Hello '

In [31]:
print(str.strip())

Hello

In [33]:
str1 = "*#24332"
print(str1.strip('*#'))

24332

In [34]:
print (str1.lstrip(' *'))
print (str1.rstrip(' *'))

#24332
*#24332

## Dictionaries

In [35]:
d = {}

In [36]:
d['One'] = 1

In [37]:
d

{'One': 1}

In [38]:
d['One']

1

In [39]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

In [49]:
d2 = zip(names,numbers)

In [42]:
print(d2)

<zip object at 0x10cd2f480>

In [43]:
print(dict(d2))

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

## Built-in Functions

In [44]:
d.clear()
print(d)

{}

In [50]:
d2 = dict(d2)
d2.values()

dict_values([1, 2, 3, 4, 5])

In [52]:
d2.keys()

dict_keys(['One', 'Two', 'Three', 'Four', 'Five'])

In [53]:
d2.items()

dict_items([('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)])

In [54]:
s2 = d2.pop('Five')

In [55]:
print(d2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}